<%= render "shared/navbar" %>

<div class="container mx-auto">
    <div class="gap-8 grid grid-cols-4">
        
        <div class="w-80 bg-white rounded-lg pb-4">
            <%= image_tag "uzui.jpeg", class: "thumbnail"%>

            <h6 class="text-xl">Uzui Tengen Vibration stars</h6>
            <hr>
            <p class="text-lg font-bold	">Precio: $900</p>
        </div>
        
    </div>
</div>